<!DOCTYPE html>

<html>
  <head>
    <title>Sai's Personal Site</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel = "icon" type="image/x-icon" href="/favicon.ico">
    <link href="href= https://fonts.googleapis.com/css?family=Roboto">
  </head>
  <body>
    <div class = major_heading>
      <h1 id=name>
        <a href = "www.linkedin.com/in/sai-vegasena">Welcome! I am Sai Vegasena  </a> 
      </h1>
    </div>
    <div id="intro">
      <p> 
        <a href= "www.blog.svegas.io " >Blog</a> .
        <a href= "https://github.com/svv232">Github</a> .
        <a href= "/resume.pdf">Resume </a> .
        <a href= "/contact">Contact </a> 
      </p>
    </div>
  </body>
</html>
