<!DOCTYPE html>

<html>
  <head>
    <title>Sai Vegasena</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel = "icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:500|Roboto:100" rel="stylesheet"> 
  </head>
  <body>
    <div class = major_heading>
      <h1 id=name>
        <a href = "/">Sai Vegasena</a> 
      </h1>
    </div>
    <div id="intro">
      <p>
        <a href= "/about-me">About |</a>
        <a href= "https://github.com/svv232">Github |</a>
        <a href= "http://blog.isis.poly.edu/2017/10/21/hacklu-ctf-indianer/">Blog |</a>
        <a href= "/resume.pdf">Resume |</a> 
        <a href="http://linkedin.com/in/sai-vegasena">LinkedIn |</a>
      </p>
    </div>
  </body>
</html>
