body {
    background-color: #393f4d;
    margin: 0;
    text-align: center;
}
::selection {
    background: #333D51}

a {
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: #F3E8EB;
    font-weight: 100;
}


h1#name {
    font-color: #F3E8EB
}

h1 {
    text-align: middle;
    font-size: 57px;
    font-family: 'Roboto', sans-serif;
    margin-top: 350px;
    margin-bottom: 0px;
    font-weight: 100;
    font-color: #F3E8EB;
}
